.list-cell {
    -fx-background-color: rgba(50, 50, 50, 0.5);
}
.list-view {
    -fx-background-color: rgba(50, 50, 50, 0.5);
}
.text-field, .text-area .content {
    -fx-background-color: #303030;
    -fx-border-color: #252525;
    -fx-text-fill: #757575;
    -fx-prompt-text-fill: #505050;
}
.text-area {
    -fx-text-fill: #757575;
    -fx-prompt-text-fill: #505050;
}
.text-area *.text {
    -fx-text-alignment: center;
}
.text-area:focused {
    -fx-faint-focus-color: #252525;
}

.button{
    -fx-background-color: #505050;
    -fx-border-color: #252525;
    -fx-background-radius: 1.0px;
    -fx-text-fill: #252525;
}
.button:hover{
    -fx-background-color: #252525;
    -fx-border-color: #757575;
    -fx-background-radius: 1.0px;
    -fx-text-fill: #757575;
}
.color-picker {
    -fx-background-color: #303030;
    -fx-border-color: #252525;
    -fx-text-fill: #757575;
    -fx-background: #252525;
}
.color-picker .color-picker-label {
    -fx-text-fill: #757575;
}
.list-view .scroll-bar:vertical,.scroll-bar:horizontal {
    -fx-scale-x: 0;
    -fx-padding:-7;
}
.myDialog{
    -fx-background-color: #505050;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #505050;
}
.myDialog > *.label.content{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #252525;
}
.myDialog:header *.header-panel{
    -fx-background-color: #252525;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill: #757575;
}